/* font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* start custom properties */

:root {
  --primary-color: #4b5320;
  --secondary-color: #8c9b3e;
  --tertiary-color: #6e5546;
}

/* end custom properties */

html {
  font-family: Arial, Helvetica, sans-serif; /* fallback */
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  color: var(--primary-color);
  font-family: Inter;
}

h1 {
  /* page title */
  text-align: center;
  font-weight: 500;
  padding: 16px 0px;
}

a {
  text-decoration: none;
}

/* start of multi-page styling */

#page-content {
  margin-bottom: 16px;
}

/* end of multi-page styling */

/* start of top bar styling */

#main-top-bar {
  background-color: white;
  box-shadow: 0px 2px 32px 2px rgba(0, 64, 0, 0.1);

  position: sticky;
  top: 0px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.main-logo {
  height: 80px;
}

.main-nav {
  display: flex;

  @media (width < 800px) {
    flex-direction: column;
  }
}

.main-menu {
  display: flex;

  @media (width < 800px) {
    flex-direction: column;
    padding-left: 0px;

    margin: 0px 32px;
    gap: 16px;
  }
}

.main-menu-item {
  list-style: none;

  display: flex;
  justify-content: right;
  align-items: center;
  margin: 0px 12px;
}

.main-menu-link {
  color: var(--primary-color);
}
.main-menu-link.selected-link {
  color: var(--secondary-color);
}
.main-menu-link:not(.selected-link):hover {
  text-decoration: underline;
}

.book-direct-button {
  background-color: var(--primary-color);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 16px;
  padding: 0px 24px;
  border-radius: 8px;

  @media (width < 800px) {
    margin: 16px 32px;
    padding: 12px 0px;
  }
}
.book-direct-button:hover {
  background-color: var(--secondary-color);
}

#desktop-top-bar {
  @media (width < 800px) {
    display: none;
  }
}

#mobile-top-bar {
  display: none;

  @media (width < 800px) {
    display: flex;
  }
}

#mobile-menu-button {
  font-size: 40px;
  padding: 20px 32px;
}

#mobile-main-nav,
#mobile-main-menu,
#mobile-book-direct-button {
  transition: 0.4s;
}

#mobile-main-menu,
#mobile-book-direct-button {
  animation: fade-in 1s;
  -webkit-animation: fade-in 1s;
  -moz-animation: fade-in 1s;
  -o-animation: fade-in 1s;
  -ms-animation: fade-in 1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* end of top bar styling */

/* start of landing page content styling */

#main-banner {
  width: 100%;
}

#introduction {
  padding: 0px 16vw;
}

/* end of landing page content styling */

/* start of accommodation page content styling */

#accommodation-filters {
  display: flex;
  gap: 20px;

  padding: 8px;
  justify-content: center;
  margin-bottom: 16px;

  box-shadow: 0px 2px 32px 2px rgba(0, 64, 0, 0.1);
  background-color: var(--secondary-color);
  color: white;

  position: sticky;
  top: 80px;
}

.accommodation-filter {
  display: flex;
  align-items: center;
}

.accommodation-checkbox {
  width: 20px;
  height: 20px;
}
.accommodation-checkbox:checked {
  /* TODO */
}

#accommodations {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.accommodation-card {
  display: flex;
  gap: 32px;

  width: 76%;
  margin: 0px auto;
  padding: 16px;

  border: 2px solid var(--secondary-color);
  border-radius: 16px;
}

.accommodation-image {
  width: 48%;
  min-width: 48%;
  height: 80%;
  border-radius: 16px;
}

.accommodation-text {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin: 8px 0px;
}

.accommodation-price {
  color: var(--secondary-color);
  font-size: large;
  font-weight: 500;
}

.accommodation-features {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.accommodation-feature-icon {
  width: 24px;
}

.accommodation-availability {
  color: var(--primary-color);
  font-size: large;
  /* font-weight: 300; */
}

.book-accommodation-button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--secondary-color);
  color: white;

  width: 210px;
  padding: 8px 16px;

  border-radius: 8px;
}

#no-accommodation {
  display: none;
  gap: 32px;

  width: 76%;
  margin: 0px auto;
  padding: 16px;

  border: 2px solid var(--secondary-color);
  border-radius: 16px;
}

#no-accommodation-message {
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

#no-accommodation-title {
  color: var(--tertiary-color);
}

/* end of accommodation page content styling */

/* start of facilities page content styling */

#facilities {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.facility {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 68%;
  margin: 0px auto;
}

.divider {
  width: 76%;
  margin: 0px auto;

  border-bottom: 2px solid var(--secondary-color);
}

/* end of facilities page content styling */

/* start of contact page content styling */

#contact-information {
  display: flex;
}

#contact-details {
  width: 50%;
}

#google-map {
  border: 0;
  width: 50%;
  aspect-ratio: 1.7;
}

/* end of contact page content styling */
